.HelpMark {
  display: inline-block;
  &__img {
    position: relative;
    top: 2px;
    height: 16px;
    width: 16px;
  }
}
#helpMark {
  background: $purple ;
  &::after{
    border-top-color:$purple;
  }
}
