.LaboratoryChrome__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .so-logo {
    margin-bottom: 30px;
    @include sm{
      margin: 0;
    }
  }
}

.LaboratoryChrome__siteNavBack {
  padding: 0;
  color: white;
  margin-top: 30px;
  .buttonList__item {
    
    margin: 20px 20px 20px 0;
    border-radius: 0;
    font-size: 18px;
    &.s-button--min {
      padding: 0 0 9px 0;
      border: none;
      &:hover {
        border: none;
      }
    }
    &.is-active {
      border: none;
      border-bottom: 3px solid white;
      &:hover {
        border-bottom: 3px solid white;
      }
    }
  }
  > .s-buttonList {
    width: 100%;
    @include flex-row(flex-start);
  }
}

.lb-chrome {
  header {
    background: $dashboard_main_color;
  }
}

