.pageIntro {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;

  background: $s-color-neutral8;
  border-radius: $s-var-radius;
  color: $purple;
  font-size: $text-20;
  p {
    font-family: SailecMedium;
  }
}
.pageIntro :last-child {
  margin-bottom: 0;
}
