.SimplePage__back {
  padding-top: 2em;
  padding-bottom: 2em;
}

// Modifier classes are supposed to use -- and not __
// The __ is just here to support code that used the wrong separator

.s-button {
  z-index: 1;

  padding: $so-inputPadding;
  border: 1px solid #1D51CE;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.12),
  inset 0 -1px 0 rgba(0,0,0,0.08);
  background: #1D51CE;
  color: $s-color-neutral9;
  text-decoration: none;
}

.s-button:hover {
  z-index: 2;
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
}
.s-button:active,
.s-button.is-active,
:checked + .s-button {
  z-index: 3;
  border: 1px solid #1D51CE;
  background: #1D51CE;
  box-shadow: none;
  color: $s-color-neutral9;
}

:checked:focus + .s-button {
  // TODO: figure out focus outline
  outline: auto 5px -webkit-focus-ring-color;
}

.s-button.is-disabled,
.s-button:disabled {
  border: 1px solid $s-color-neutral4;
  background: $s-color-neutral7;
  color: $s-color-neutral4;
  box-shadow: none;
}
.s-button.is-disabled:hover,
.s-button:disabled:hover {
  z-index: 1; // reset z-index so that it doesn't show above hover
}

.s-button__min, .s-button--min {
  border: 1px solid transparent;
  background: transparent;
  color: inherit;
  box-shadow: none;
}
.s-button__min:active, .s-button--min:active,
.s-button__min.is-active, .s-button--min.is-active,
:checked + .s-button__min, :checked + .s-button--min,
.s-button.s-button__min:hover, .s-button.s-button--min:hover // extra .s-button for specificity since :checked + has high specificity
{
  border: 1px solid currentColor;
  background: transparent;
  color: inherit;
}

.s-button__light, .s-button--light {
  border: 1px solid $s-color-neutral6;
  background: $s-color-neutral9;
  color: $s-color-neutral2;
  box-shadow: none;
}
.s-button__light.is-active, .s-button--light.is-active,
:checked + .s-button__light, :checked + .s-button--light {
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
}
.s-button__light:hover, .s-button--light:hover {
  border: 1px solid $s-color-neutral6;
  background: $s-color-neutral8;
  color: $s-color-neutral2;
  // box-shadow: inset 0 -1px 0 $s-color-neutral6;
}
.s-button__light:active, .s-button--light:active {
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
}
.s-button__light:active:hover, .s-button--light:active:hover,
.s-button__light.is-active:hover, .s-button--light.is-active:hover,
:checked + .s-button__light:hover, :checked + .s-button--light:hover {
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
  // box-shadow: inset 0 -1px 0 $s-color-primary2;
}
.s-button__light.is-disabled, .s-button__light.is-disabled,
.s-button__light:disabled, .s-button__light:disabled,
.s-button__light.is-disabled:hover, .s-button__light.is-disabled:hover,
.s-button__light:disabled:hover, .s-button__light:disabled:hover {
  border: 1px solid $s-color-neutral6;
  background: $s-color-neutral8;
  color: $s-color-neutral6;
}
.s-button.is-disabled { // yet to be implemented because use case not encountered yet
}
.so-logo, a.so-logo {
  @include S-flex-row();
  align-items: baseline;
  text-decoration: none;
  // font size is set in .so-logo so that both the separator and subSite inherits it
  font-size: $s-scale-1;
  color: $s-color-neutral2;
}
.so-logo:hover, a.so-logo {
  text-decoration: none;
}
.so-logo__main, a.so-logo__main {
  color: #1D51CE;
  font-weight: 700; // TODO: update to variable
  // TODO: improve how we do font smoothing (mixin, consistency)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
  text-decoration: none;
}
.so-logo__main:hover, a.so-logo__main:hover {
  text-decoration: underline;
}
.so-logo__separator {
  align-self: center;
  // currently fine tuned to $s-scale-1 but may need to be adjusted when
  // the parent font size changes
  height: 0.8em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  border-left: 1px solid currentColor;
}
.so-logo__subSite {
  font-size: $s-scale-4;
  text-decoration: none;
}
.so-logo__subSite:hover {
  text-decoration: underline;
}


// Modifier classes are supposed to use -- and not __
// The __ is just here to support code that used the wrong separator

.s-button {
  z-index: 1;

  padding: $so-inputPadding;
  border: 1px solid #1D51CE;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.12),
  inset 0 -1px 0 rgba(0,0,0,0.08);
  background: #1D51CE;
  color: $s-color-neutral9;
  text-decoration: none;
}

.s-button:hover {
  z-index: 2;
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
}
.s-button:active,
.s-button.is-active,
:checked + .s-button {
  z-index: 3;
  border: 1px solid #1D51CE;
  background: #1D51CE;
  box-shadow: none;
  color: $s-color-neutral9;
}

:checked:focus + .s-button {
  // TODO: figure out focus outline
  outline: auto 5px -webkit-focus-ring-color;
}

.s-button.is-disabled,
.s-button:disabled {
  border: 1px solid $s-color-neutral4;
  background: $s-color-neutral7;
  color: $s-color-neutral4;
  box-shadow: none;
}
.s-button.is-disabled:hover,
.s-button:disabled:hover {
  z-index: 1; // reset z-index so that it doesn't show above hover
}

.s-button__min, .s-button--min {
  border: 1px solid transparent;
  background: transparent;
  color: inherit;
  box-shadow: none;
}
.s-button__min:active, .s-button--min:active,
.s-button__min.is-active, .s-button--min.is-active,
:checked + .s-button__min, :checked + .s-button--min,
.s-button.s-button__min:hover, .s-button.s-button--min:hover // extra .s-button for specificity since :checked + has high specificity
{
  border: 1px solid currentColor;
  background: transparent;
  color: inherit;
}

.s-button__light, .s-button--light {
  border: 1px solid $s-color-neutral6;
  background: $s-color-neutral9;
  color: $s-color-neutral2;
  box-shadow: none;
}
.s-button__light.is-active, .s-button--light.is-active,
:checked + .s-button__light, :checked + .s-button--light {
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
}
.s-button__light:hover, .s-button--light:hover {
  border: 1px solid $s-color-neutral6;
  background: $s-color-neutral8;
  color: $s-color-neutral2;
  // box-shadow: inset 0 -1px 0 $s-color-neutral6;
}
.s-button__light:active, .s-button--light:active {
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
}
.s-button__light:active:hover, .s-button--light:active:hover,
.s-button__light.is-active:hover, .s-button--light.is-active:hover,
:checked + .s-button__light:hover, :checked + .s-button--light:hover {
  border: 1px solid #1D51CE;
  background: #1D51CE;
  color: $s-color-neutral9;
  // box-shadow: inset 0 -1px 0 $s-color-primary2;
}
.s-button__light.is-disabled, .s-button__light.is-disabled,
.s-button__light:disabled, .s-button__light:disabled,
.s-button__light.is-disabled:hover, .s-button__light.is-disabled:hover,
.s-button__light:disabled:hover, .s-button__light:disabled:hover {
  border: 1px solid $s-color-neutral6;
  background: $s-color-neutral8;
  color: $s-color-neutral6;
}
.s-button.is-disabled { // yet to be implemented because use case not encountered yet
}
.so-logo, a.so-logo {
  @include S-flex-row();
  align-items: baseline;
  text-decoration: none;
  // font size is set in .so-logo so that both the separator and subSite inherits it
  font-size: $s-scale-1;
  color: $s-color-neutral2;
}
.so-logo:hover, a.so-logo {
  text-decoration: none;
}
.so-logo__main, a.so-logo__main {
  color: #1D51CE;
  font-weight: 700; // TODO: update to variable
  // TODO: improve how we do font smoothing (mixin, consistency)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
  text-decoration: none;
}
.so-logo__main:hover, a.so-logo__main:hover {
  text-decoration: underline;
}
.so-logo__separator {
  align-self: center;
  // currently fine tuned to $s-scale-1 but may need to be adjusted when
  // the parent font size changes
  height: 0.8em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  border-left: 1px solid currentColor;
}
.so-logo__subSite {
  font-size: $s-scale-4;
  text-decoration: none;
}
.so-logo__subSite:hover {
  text-decoration: underline;
}

