$dashboard_main_color: #dc650f;
$purple: #6f41e8;
$placeholder: #a6a6a6;
$disabled: #e7e7e7;
$black: #1f1f1f;
$text-30: 30px;
$text-20: 20px;
$input-t-size: 16px;

div,
h1,
h2,
h3,
h4,
h4,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: Sailec;
}

@mixin flex-row($justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin sm() {
  @media screen and (min-width: 576px) {
    @content;
  }
}
@mixin lg() {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin xl() {
  @media screen and (min-width: 1366px) {
    @content;
  }
}
.mt-41 {
  margin-top: 41px;
}
%button-default {
  max-width: 100%;
  border-radius: 2px;
  outline: none;
  border: none;

  &:disabled {
    background: $disabled;
    color: $placeholder;
  }
}
.button-a {
  @extend %button-default;
  width: 296px;
  height: 66px;
  background: $purple;
  color: white;
}

.button-b {
  @extend %button-default;
  background: $purple;
  color: white;
  width: 150px;
  height: 50px;
}
